@charset "UTF-8";
//@font-face {
//  font-family: 'Open Sans';
//  src: url('../fonts/Open Sans Light.eot');
//  src: url('../fonts/Open Sans Light.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/Open Sans Light.woff') format('woff'),
//        url('../fonts/Open Sans Light.ttf') format('truetype'),
//        url('../fonts/Open Sans Light.svg#Open Sans Light') format('svg');
//  font-weight: 300;
//  font-style: normal;
//  font-stretch: normal;
//  unicode-range: U+0020-FFFD;
//}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
}


@font-face {
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 400;
	src: url('#{$fa-font-path}/fa-regular-400.eot');
	src: url('#{$fa-font-path}/fa-regular-400.eot?#iefix') format('embedded-opentype'),
	url('#{$fa-font-path}/fa-regular-400.woff2') format('woff2'),
	url('#{$fa-font-path}/fa-regular-400.woff') format('woff'),
	url('#{$fa-font-path}/fa-regular-400.ttf') format('truetype'),
	url('#{$fa-font-path}/fa-regular-400.svg#fontawesome') format('svg');
}
@font-face {
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 900;
	src: url('#{$fa-font-path}/fa-solid-900.eot');
	src: url('#{$fa-font-path}/fa-solid-900.eot?#iefix') format('embedded-opentype'),
	url('#{$fa-font-path}/fa-solid-900.woff2') format('woff2'),
	url('#{$fa-font-path}/fa-solid-900.woff') format('woff'),
	url('#{$fa-font-path}/fa-solid-900.ttf') format('truetype'),
	url('#{$fa-font-path}/fa-solid-900.svg#fontawesome') format('svg');
}
.fa,
.fas {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}
.far {
	font-family: 'Font Awesome 5 Free';
	font-weight: 400;
}


