//sudo gem install sass
//sass --watch assets/css/style.scss:assets/css/style.css

$fa-font-path: "../fonts/fontawesome" !default;
@import "fonts";
@import "mixins";

/*PLUGINS*/
/*bootstrap*/
@import "plugins/bootsrap/bootstrap-reboot";
@import "plugins/bootsrap/bootstrap-grid.scss";
/*fontawesome*/
@import "plugins/fontawesome/variables";
@import "plugins/fontawesome/mixins";
@import "plugins/fontawesome/core";
@import "plugins/fontawesome/larger";
@import "plugins/fontawesome/icons";
@import "plugins/fontawesome/screen-reader";

/*CUSTOM VAR STYLES*/
@import "settings";
@import "my-default";


body {
  font-family: "Open Sans";
}

::placeholder {
  color: #88BDF5 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #88BDF5 !important;
}

::-ms-input-placeholder {
  color: #88BDF5 !important;
}

input::placeholder {
  color: #88BDF5 !important;
}

*:focus {
  outline: none;
}

.relative {
  position: relative;
}

#header-index {
  height: 100vh;
  background: url("../img/index-1.jpg") bottom center no-repeat;
  background-size: cover;
  color: #fff;

  .menu {
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0 10px;

        a {
          color: #fff;
        }
      }
    }
  }

  .reg-items {
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0 10px;

        .red-btn,
        .border-btn {
          padding: 5px 25px;
        }

        .red-btn {
          background: #F2245B;
        }

        .border-btn {
          border: 1px solid #fff;
        }

        a {
          color: #fff;
        }
      }
    }
  }

  .city {
    text-transform: uppercase;
    margin: 3% 0;
  }

  .title h1 {
    font-size: 36px;
    font-weight: 300;
    max-width: 90%;
    margin: 2% 0;
  }

  .description {
    max-width: 80%;
  }

  .index-btn-out {
    margin: 2% 0;
  }

  .index-btn {
    padding: 10px 20px;
    background: #FCE069;
    color: #707070;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
}

.text-right {
  text-align: right;
}

.gold-btn {
  color: #CC9129;
  font-size: 24px;
  text-transform: uppercase;
  padding: 10px 20px;
  text-align: center;
  margin: 20px auto;
  border: 4px solid #CC9129;
  display: inline-block;
}

#part-two-index {
  .yellow-box {
    background: #FEFBEC;
    padding: 4% 0 10% 4%;
    margin-right: 50px;
  }

  .img-block {
    text-align: right;
    position: relative;
    right: -50px;
  }

  .header-name,
  .sub-header,
  .text-block {
    padding-left: 40px;
  }

  .text-block {
    line-height: 60px;
  }

  .header-name {
    font-size: 36px;
  }

  .img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .header {
    background: transparent;
    font-size: 24px;
    color: #CC9129;
  }

  .sub-header {
    color: #CC9129;
    padding: 20px 0 20px 40px;
  }
}


#part-three-index {
  .yellow-box {
    background: #fff;
    padding: 4% 0 10% 4%;
    margin-right: 50px;
  }

  .img-block {
    text-align: right;
    position: relative;
    right: -50px;
  }

  .header-name,
  .sub-header,
  .text-block {
    padding-left: 40px;
  }

  .text-block {
    line-height: 60px;
  }

  .header-name {
    font-size: 36px;
  }

  .img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .header {
    background: transparent;
    font-size: 24px;
    color: #CC9129;
  }

  .sub-header {
    color: #CC9129;
    padding: 20px 0 20px 40px;
  }
}

#part-four-index {
  .header {
    background: transparent;
    font-size: 24px;
    color: #CC9129;
    text-align: center;
  }
}

#part-five-index {
  .header {
    background: transparent;
    font-size: 24px;
    color: #CC9129;
    text-align: center;
  }
}


#part-six-index {
  //.yellow-box{
  //  background: #fefbec;
  //  //padding: 4% 0 4% 4%;
  //  margin-right: 50px;
  //}
  .yellow-box {
    position: absolute;
    height: 400px;
    width: 100%;
    background: #fefbec;
    top: 50px
  }

  .part-two-content {
    margin-top: 50px;
  }

  .img-block {
    text-align: right;
    position: relative;
    right: -50px;
  }

  .header-name,
  .sub-header,
  .text-block {
    padding-left: 40px;
  }

  .text-block {
    line-height: 60px;
  }

  .img {
    width: 100%;
    max-width: 350px;
    height: auto;
  }

  .sub-header {
    color: #CC9129;
    padding: 20px 0 20px 40px;
  }
}

#part-seven-index {
  text-align: center;
  margin: 40px 0 80px;
}

#part-eight-index {
  .header {
    background: transparent;
    font-size: 24px;
    color: #CC9129;
    text-align: center;
    margin: 80px 0;
  }
}




//MEDIA
@media screen and (max-width: 1200px) {

  .menu {
    ul {
      li {
        margin: 0 10px;
      }
    }
  }

  .reg-items {
    ul {

      li {
        margin: 0 5px;
      }
    }
  }


}

@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {


}

@media screen and (min-width: 480px) and (max-width: 767px) {


}

@media screen and (max-width: 479px) {

}

body {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}